<div class="statuses">
  <% @pings.each do |i| %>
    <div class="status">
      <h2 class="status__heading"><%= i.service %></h2>

      <% unless i.description.blank? %>
        <p class="status__desc"><%= i.description %></p>
      <% end %>

      <div aria-hidden="true" class="status__icon icon--<%= i.state %>" data-icon="✔"></div>
      <span class="t-hidden">Service is Operating <%= i.state %></span>

      <% if !i.unknown? %>
        <p class="status__last-updated">
          updated <%= service_last_update_time(i) %> ago
        </p>
      <% end %>
    </div>
  <% end %>
</div>
