<div id="full-status">
  <h1>RubyGems.org Status:
    <span class="color-<%= @status %>"><%= @status.upcase %></div>
  </h1>
</div>

<div id="container">
  <div id="pings">
    <table>
      <% @pings.each do |i| %>
        <tr>
          <td><b><%= i.service %></b>:</td>
          <td><span class="status-<%= i.state %>"><%= i.state %></span></td>
          <% unless i.unknown? %>
            <td><span class="time">updated: <%= service_last_update_time(i) %></span></td>
          <% end %>
        </tr>
        <tr>
          <td colspan="3">
            <div class="description"><%= i.description %></span>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
