<div id="full-status">
  <h1>RubyGems.org Status:
    <span class="color-<%= @status %>"><%= @status.upcase %></div>
  </h1>
</div>

<div id="container">
  <div id="pings">
    <table>
      <% @pings.each do |i| %>
        <tr>
          <td><b><%= i.service %></b>:</td>
          <td><span class="status-<%= i.status %>"><%= i.status %></span></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
