<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Status - RubyGems System Status</title>
    <%= stylesheet_link_tag    "application" %>
    <link href="http://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100&subset=greek,latin,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport">
    <!--[if IE 8]>
      <script src="/assets/html5shiv.js"></script>
      <link href="/assets/modules/ie8.css" rel="stylesheet" type="text/css">
    <![endif]-->
    <meta name="globalsign-domain-verification" content="jMsfkTQm-DYLtrX0PQ4Vp1chE1FCqtqCX_Ea1lNK6E">
  </head>

  <body>
    <header class="header header--interior">
      <div class="l-wrap--header">
        <a class="header__logo-wrap" href="http://rubygems.org/">
          <span class="header__logo" data-icon="⬡">⬢</span>
          <span class="t-hidden">RubyGems</span>
        </a>
        <a class="header__club-sandwich" href="#">
          <span class="t-hidden">Navigation menu</span>
        </a>

        <div class="header__nav-links-wrap">
          <%= form_tag "https://rubygems.org/search", :id => "main-search", :class => "header__search-wrap", :method => :get do %>
            <%= search_field_tag :query, params[:query], :placeholder => "Search Gems&hellip;".html_safe, :class => "header__search" %>
            <%= label_tag :query do %>
              <span class="t-hidden">Search gems</span>
            <% end %>
            <%= submit_tag '⌕', :id => 'search_submit', :name => nil, :class => "header__search__icon" %>
          <% end %>

          <nav class="header__nav-links">
            <a class="header__nav-link" href="http://rubygems.org/gems">Gems</a>
            <a class="header__nav-link" href="http://guides.rubygems.org/">Guides</a>
            <a class="header__nav-link" href="http://guides.rubygems.org/contributing/">Contribute</a>
          </nav>
        </div>
      </div>
    </header>

    <main class="main--interior">
      <div class="l-wrap--b">
        <%= render :partial => 'status/current' %>
        <%= yield %>
      </div>
    </main>

    <footer class="footer">
      <div class="l-wrap--footer">
        <div class="l-overflow">
          <div class="nav--v l-col--r--pad">
            <a class="nav--v__link--footer is-active" href="/">Status</a>
            <a class="nav--v__link--footer" href="http://uptime.rubygems.org/">Uptime</a>
            <a class="nav--v__link--footer" href="https://github.com/rubygems/rubygems.org" target='_blank'>Code</a>
            <a class="nav--v__link--footer" href="https://groups.google.com/forum/#!forum/rubygems-org" target='_blank'>Discuss</a>
            <a class="nav--v__link--footer" href="http://rubygems.org/stats">Stats</a>
            <a class="nav--v__link--footer" href="http://blog.rubygems.org/">Blog</a>
            <a class="nav--v__link--footer" href="http://rubygems.org/pages/about">About</a>
            <a class="nav--v__link--footer" href="http://help.rubygems.org/">Help</a>
          </div>
          <div class="l-colspan--l colspan--l--has-border">
            <p class="footer__about">RubyGems.org is the Ruby community&rsquo;s gem hosting service. Instantly publish your gems and install them. Use the API to interact and find out more information about available gems. Become a contributor and enhance the site with your own changes.</p>
          </div>
        </div>
      </div>
      <div class="footer__sponsors-wrap">
        <div class="footer__sponsors">
          <a class="footer__sponsor" href="http://rubycentral.org/" target="_blank">
            Supported by
            <span class="t-hidden">Ruby Central</span>
          </a>
          <a class="footer__sponsor" href="https://www.bluebox.net/" target="_blank">
            Hosted by
            <span class="t-hidden">Blue Box</span>
          </a>
          <a class="footer__sponsor" href="http://dockyard.com/" target="_blank">
            Designed by
            <span class="t-hidden">DockYard</span>
          </a>
          <a class="footer__sponsor" href="https://dnsimple.com/" target="_blank">
            Resolved with
            <span class="t-hidden">DNSimple</span>
          </a>
          <a class="footer__sponsor" href="http://newrelic.com/" target="_blank">
            Optimized by
            <span class="t-hidden">New Relic</span>
          </a>
          <a class="footer__sponsor" href="http://get.gaug.es/" target="_blank">
            Tracking by
            <span class="t-hidden">Gauges</span>
          </a>
          <a class="footer__sponsor" href="https://www.runscope.com/" target="_blank">
            Monitored by
            <span class="t-hidden">Runscope</span>
          </a>
          <a class="footer__sponsor" href="http://www.fastly.com/" target="_blank">
            Gems served by
            <span class="t-hidden">Fastly</span>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
